.anki-settings-table td, .anki-settings-table th {
  border: 1px solid var(--background-modifier-border);
  padding: 4px 10px;
}

.anki-settings-table {
  border-collapse: collapse;
  display: none;
}

.anki-center {
  margin: auto;
  padding: 5px;
  padding-top: 30px;
}

.anki-rotated {
    transform: rotate(-90deg);
}

.collapsible-item-self {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.collapsible-item-collapse {
  margin-right: 8px;
  transition: transform 0.2s ease;
}

.right-triangle {
  display: block;
}
